.content {
  float: left;
  border: 1px solid red;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 190px;
  padding-left: 10px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
/* Responsive layout - makes a one column layout */
 @media (max-width: 400px) {
  .flex-container {
    flex-direction: column;
  }
}  

/* header bar starts */
 .header-bar{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex; 
  background-color: #f3f1f1;
 box-shadow: 2px 2px 5px rgba(119, 118, 118, 0.6); 
}

.header-bar h3{
   margin-left: 200px;
   display: -ms-inline-flexbox; 
}

.header-bar ul{
    margin-top: 23px;
    position: absolute;
    right: 150px;
}

.header-bar li {
    cursor: pointer;
    padding: 6px;
    display: inline;
}

.header-bar li img{
    height: 20px;
    width:23px;
}

.header-bar li img{
    height: 20px;
    width:23px;
}

.signin{
    color: rgb(10, 176, 241);
    position: absolute;
    bottom: 0;
    top: 10;
}

.signup{
  position: absolute;
  left: 490px; 
  bottom: 0px;
  background-color: blue;
  color: rgb(5, 224, 253);
  border-radius: 25px;
}

.signup:hover {
  color: rgb(21, 199, 140);
  background-color: #251155;
}
   
 /*for side bar  */
 body {font-family: "Lato", sans-serif;}
    
 .sidebar {
   height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top:30;
   left: 0;
   background-color: rgb(245, 240, 240);
   overflow-x: hidden;
   padding-top: 60px;
   height: 100%;
   width: 160px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.6); 
 }

 .sidebar a {
  display: flex; 
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #070707;
   display: block;
 }
 
 .sidebar a:hover {
   color: #152ae9;
 }
 
 .main {
   margin-left: 160px; /* Same as the width of the sidenav */
   padding: 0px 10px;
 }

 @media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }

 .sidebar a img {  
  height: 20px;
  width:20px;
}

.layout h2{
  margin-left: 150px;

  padding-left: 55px;
  position: fixed;
  padding-top: 50px;
}

.boxed p1{
  font-size: 14px;
  font-weight: normal;
  padding-left: 1px;
}

.card-greeting { 
 margin-bottom: 10rem;
padding-top: 100px;
padding-right: 30px;
padding-left: 400px;
padding-right: 100px;
background-color:rgb(252, 247, 247);
height: 500px;
margin: 1px;
}

.user{
  background-color:white;
  display: inline-block;
  height:150px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  margin: 12px 20px 19px 14px;
  box-shadow:5px 10px 10px 10px rgb(211, 209, 209);
  font-size: 12px; 
}

/* basic panel layout greetings ends */