/*
 header bar starts
 */
 .header-bar{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #dfd9d9;
;  /* box-shadow: 0 2px 20px rgba(0,0,0,0.6); */

}
.header-bar h2{
   margin-left: 235px;
}
.header-bar ul{
    margin-top: 23px;
    position: absolute;
    right: 150px;
}

.header-bar li {
    cursor: pointer;
    padding: 6px;
    display: inline;

}

.header-bar li img{
    height: 20px;
    width:20px;
}

.signin{
    color: rgb(10, 176, 241);
    position: absolute;
    bottom: 0;
    top: 10;

}
.signup{
  position: absolute;
   left: 480px; 
 
  bottom: 0px;
  background-color: blue;
  color: rgb(5, 224, 253);
  border-radius: 25px;

}
.signup:hover {
  color: rgb(21, 199, 140);
  background-color: #251155;
}
/* header bar ends */
   
 /*for side bar  */
 body {font-family: "Lato", sans-serif;}
    
 .sidebar {
   height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top:20;
   left: 0;
   background-color: rgb(233, 229, 229);
   overflow-x: hidden;
   padding-top: 16px;
   height: 100%;
   width: 160px;
 }

 .sidebar a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #070707;
   display: block;
 }
 
 .sidebar a:hover {
   color: #152ae9;
 }
 
 .main {
   margin-left: 160px; /* Same as the width of the sidenav */
   padding: 0px 10px;
 }

 @media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }

 .sidebar a img {  
  height: 20px;
  width:20px;
}